site_name: Backend-AntiGinx Documentation
repo_name: prawo-i-piesc/backend-antiginx
repo_url: https://github.com/prawo-i-piesc/backend-antiginx

theme:
  name: material

  icon:
    repo: fontawesome/brands/git-alt

  font:
    text: Roboto
    code: JetBrains Mono

  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Dark Mode
      primary: black
      accent: indigo

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Light Mode
      primary: blue
      accent: indigo

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tooltips

plugins: 
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - include-markdown

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - abbr
  - attr_list
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 2-4

nav:
  - Home: index.md
  - Documentation:
    - Main: main/index.md
    - API: internal/api/index.md
    - Handlers: internal/handlers/index.md
    - Models: internal/models/index.md

copyright: "Copyright &copy; 2025 Antiginx Team. All rights reserved."

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/prawo-i-piesc/backend-antiginx